.masked-input-block {
    position: relative;
}

.masked-input-block + .masked-input-block {
    margin-top: 1.4rem;
}

.masked-input-block label {
    font-size: 1.4rem;
}

.masked-input-block input {
    width: 100%;
    height: 5.6rem;
    margin-top: 0.8rem;
    border-radius: 0.8rem;
    background: var(--color-input-background);
    border: 1px solid var(--color-line-in-white);
    outline: 0;
    padding: 0 1.6rem;
    font: 1.6rem Archivo;
}

.masked-input-block:focus-within::after {
    width: calc(100% - 3.2rem);
    height: 2px;
    content: '';
    background: var(--color-primary-light);
    position: absolute;
    left: 1.6rem;
    right: 1.6rem;
    bottom: 0;
}

@keyframes masked-input-block-error {
    from {
        transform: scale3d(0, 0, 0);
        transform: translate(-5px, -50px);
        opacity: 0;
    }
    to {
        transform: scale3d(1, 1, 1);
        transform: translate(0, 0);
        opacity: 0.7;
    }
}

.masked-input-block .error {
    padding: 5px;
    width: 100%;
    border-radius: 0.8rem;

    background: #FFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.05);
    
    position: absolute;
    left: 0;
    top: 100%;
    opacity: 0.7;

    animation-name: masked-input-block-error;
    animation-duration: 0.2s;
}
